input, select {
  width: 250px;
  padding: 3px 5px;
  margin-left: 10px;;
}

button{
  padding: 5px 8px;
}

textarea {
  width: 250px;
  height: 100px;
  margin-left: 10px;
  padding: 3px 5px;
}

.money{
  margin-left: 0;
  width: 77px;;
}

.create{
  margin-top: 50px;
}

.create{
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  min-width: 485px;
}

.value{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

