main{
  height: 100%;
}

.weapon-card-link{
  font-size: 1rem !important;
}

.weapon--detail-card{
  background-color: black;
  padding: 5px;
  font-size: .75rem;
  width: 100%;
  height: 100%;;
  border: 3px solid orange;
  border-radius: 3px;
}

.weapon-card h3{
  font-weight: 500;
  font-size: 1rem;
}

.item-level{
  color: orange;
  font-weight: 500;
}