main{
  /* height: 100%; */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.weapon-card-link{
  font-size: 1rem !important;
}

.weapon-card{
  background-color: black;
  padding: 5px;
  font-size: .75rem;
  width: 300px;
  border: 3px solid orange;
  border-radius: 3px;
}

.weapon-card h1{
  font-weight: 500;
  font-size: 1.25rem;
}

.item-level{
  color: orange;
  font-weight: 500;
}

.type-damage{
  display: flex;
  justify-content: space-between;
}