main{
  height: 100%;
}

.weapon-card-link{
  font-size: 1rem !important;
}

.weapon-detail-card{
  background-color: black;
  padding: 5px;
  font-size: .75rem;
  width: 900px;
  height: 500px;
  border: 3px solid orange;
  border-radius: 3px;
  margin-top: 100px;
  display: flex;
  gap: 10px;
}

.detail-name{
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
}

.item-level{
  color: orange;
  font-weight: 500;
}

.weapon-image{
  height: 100%;
  min-width: 484px;
  background-color: yellow;
  object-fit: cover;
}

.details{
  width: 100%;;
}

p{
  font-size: 1rem;
  color: white;
}

.description{
  margin: 30px 0;
}

/* 
 <h3 style={{ color: color }}>{weapon.name}</h3>
<p className='item-level'>Item Level {weapon.item_level}</p>
<p className="bop">{weapon.bind}</p>
<div className="row-space-between">
  <p className="hand">{weapon.hand}</p>
  <p className="shape">{weapon.type}</p>
</div>
<div className="row-space-between">
  <p className="min-max">{weapon.min_damage} - {weapon.max_damage} Damage</p>
  <p className="speed">Speed {weapon.speed.toFixed(2)}</p>
</div>
<p className="dps">({weapon.dps.toFixed(2)} damage per second)</p>
<p className="durability">Durability {weapon.durability}/{weapon.durability}</p>
<p className="level-req">Requires Level {weapon.level_req}</p>
<p className="sell-price">Sell Price <span className="gold">{weapon.gold}g</span> <span className="silver">{weapon.silver}s</span> <span className="copper">{weapon.copper}c</span></p>  */