main{
  height: 100%;
}

.weapon-card-link{
  font-size: 1rem !important;
}

.weapon-detail-card{
  background-color: black;
  padding: 5px;
  font-size: .75rem;
  width: 900px;
  height: 500px;
  border: 3px solid orange;
  border-radius: 3px;
  margin-top: 100px;
  display: flex;
  gap: 10px;
}

.detail-name{
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
}

.item-level{
  color: orange;
  font-weight: 500;
}

.weapon-image{
  height: 100%;
  min-width: 484px;
  background-color: yellow;
  object-fit: cover;
}

.details{
  width: 100%;;
}

p{
  font-size: 1rem;
  color: white;
}

.description{
  margin: 30px 0;
}